<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Dancing+Script&family=Open+Sans+Condensed&family=Oswald:wght@300&display=swap" rel="stylesheet">
<body>

  <div class="container-fluid">
    <h2 class="text-center"> Create a new Quote</h2>

    <form (ngSubmit)="submitQuote()" #quoteForm="ngForm" name="">
      <div class="form-group">

        <label for="quote">Quote</label>
        <textarea class="form-control" id="quote" [(ngModel)]="newQuote.name" name="quote" #quote="ngModel"
          required></textarea>

        <div [hidden]="quote.invalid|| quote.pristine" class="alert alert-danger">Quote is required</div>

      </div>
      <div class="form-group">

        <label for="author">Author</label>
        <textarea class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author="ngModel"
          required></textarea>

        <div [hidden]="author.invalid || author.pristine" class="alert alert-danger">
          <p>Author required</p>
        </div>

      </div>
      <div class="form-group">

        <label for="description">Submiter</label>
        <textarea class="form-control" id="description" [(ngModel)]="newQuote.description" name="description"
          #description="ngModel" required></textarea>
        <div [hidden]="description.invalid || description.pristine" class="alert alert-danger">
          <p>Submiter required</p>
        </div>
      </div>

      <div class="form-group">
        <label for="calender">Calender</label>
        <input type='date' id="complete" required>

      </div>
      <button type="submit" class="btn btn-primary">Add Quote</button>

    </form>

  </div>

</body>
