h2, p, label, textarea, button {
  font-family: 'Barlow Condensed', sans-serif;
  font-family: 'Dancing Script', cursive;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
}